<link rel="import" href="../polymer/polymer.html" >
<dom-module id="rover-planner">
        <template>
                {{robotStatus}}
        </template>
</dom-module>

<script>
  Polymer({
          is: "rover-planner",
          properties: {
                  robotStatus: {
                          type:String,
                          value: "offline"
                  }
          },
          created: function() {
                  var self = this;
                  socket.on("robot_status_change", function(payload){
                        self.robotStatus = payload.data;
                  });
          }
  })
</script>
