<!doctype html>
<html>
  <head>
          <title>Rover Planner</title>
          <script type="text/javascript" src="/static/socket.io.min.js"></script>
          <script type="text/javascript" charset="utf-8">
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
               });
         </script>
         <script src="/static/components/webcomponentsjs/webcomponents-lite.min.js"></script>
         <link rel="import" href="/static/components/font-roboto/roboto.html">
         <link rel="import" href="/static/customcomponents/rover-dashboard.html" />
         <style>
           body {
                   font-family:roboto;
           }
         </style>
 </head>
 <body>
         <rover-dashboard></rover-dashboard
 </body>
 <script>
   function sendPlan() {
       socket.send("hello")
   }

 </script>
 </html>
