<!doctype html>
<html>
  <head>
          <title>Rover Planner</title>
          <script type="text/javascript" src="/static/socket.io.min.js"></script>
          <script type="text/javascript" charset="utf-8">
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
               });
         </script>
         <script src="/static/webcomponentsjs/webcomponents-lite.min.js"></script>
         <link rel="import" href="/static/components/rover-planner.html" />
 </head>
 <body>

         <rover-planner></rover-planner>
 </body>
 <script>
   function sendPlan() {
       socket.send("hello")
   }
   
 </script>
 </html>
